<div id="challenge" class="page">
  <div class="divided title">CTF Challenges</div>

  <div class="ui stackable grid">
    <div class="column">
      <div class="ui form" ng-class="{'loading': loading}">
        <div class="divided title">These are the challenges</div>

        <div class="ui three stackable cards doubling cards">
          <div class="ui card" ng-repeat="challenge in challenges">
            <div class="content">
              <div class="header" ng-click="showChallenge(challenge)">
                {{ challenge.title }}
              </div>
              <div
                class="floating ui red label"
                ng-show="!challenge.solved"
              >
                {{ challenge.points }}p
              </div>
              <div class="floating ui green label" ng-show="challenge.solved">
                {{ challenge.points }}p
              </div>
            </div>
            <div class="content">
              <h4 class="ui sub header">Description</h4>
              <div class="ui small feed">
                <div class="event">
                  <div class="content" ng-click="showChallenge(challenge)">
                    <div class="summary more">{{ challenge.description }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="extra content">
              <div class="ui large transparent left input icon ">
                <a href="{{challenge.dependency}}" title="Download dependencies" >
                  <i class="download icon"></i>
                </a>
                <input type="text" ng-model="input" ng-keyup="$event.keyCode == 13 ? solveChallenge(challenge,input,true) : solveChallenge(challenge,input,false) " 
                       placeholder=" Submit answer..." ng-show="!challenge.solved"/>
                <input type="text" placeholder=" Challenge Solved" ng-show="challenge.solved" ng-disabled="true"/>
              </div>
              <div
                class="ui bottom right attached green label"
                ng-show="challenge.solved">
                Solved
              </div>
            </div>
          </div>
        </div>
        <br /><br /><br />
        <div class="divided title">CTF Scoreboard</div>

        <table class="ui celled selectable compact users table">
          <thead>
            <tr>
              <th>Name</th>
              <th class="one wide center aligned">Year</th>
              <th class="one wide center aligned">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in Result  | orderBy:'-points'" ng-class="rowClass(user)">
              <td>{{ user.name }}</td>
              <td class="center aligned">{{ user.grade }}</td>
              <td class="center aligned">
                <strong> {{ user.points }} &nbsp; </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
